.projectCard {
  padding: 1em 0 4em 0;
}
.projectCopy {
  flex: 1;
  padding-right: 1em;
  margin-bottom: 2em;
}
.projectHeading {
  font-family: "Austin";
  font-size: 2.8em;
  margin: 0;
}
.shortCopy {
  font-size: 1.5em;
  opacity: 0.9;
  line-height: 1.25;
  margin-bottom: 1.75em;
}
.linksContainer {
  display: flex;
  margin-bottom: 1.25em;
}
.links {
  margin-right: 1.25em;
  padding: 0.55em 0.75em;
  border-radius: 18px;
  border: 1px #ff3c3c solid;
  min-width: 6.5em;
  text-align: center;
}
.links:hover {
  color: #dde8e4;
  background-color: #ff3c3ccb;
}

.projectImageContainer {
  flex: 1;
  padding: 1em 0 0 0;
  width: 100%;
 
  /* aspect-ratio: 9/8; */
}
.projectImageContainer img {
  border-radius: 12px;
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}
.pillList {
  display: flex;
  list-style: none;
  padding: 0;

  margin: 0.5em 0 0.5em 0;
}
.pill {
  color: #dde8e4;
  font-size: 0.75em;
  font-family: forma-djr-micro, sans-serif;
  border: #dde8e4 1px solid;
  border-radius: 18px;
  padding: 0.2em 0.55em 0.2em 0.55em;
  margin-right: 0.4em;
  opacity: 0.9;
}
@media screen and (min-width: 48em) {
  .projectCard {
    display: flex;
  }
  .projectCard {
    margin-bottom: 0em;
  }
}
