
.projectCopy {
  flex: 1;
}
.projectHeading {
    font-family: "Austin";
    font-size: 2.75em;
    margin: 0;
}
.projectImageContainer {
  flex: 1;
  padding: 1em 0 0 0;
  width: 100%;
  height: auto;
}
.projectImageContainer img {
    width: 100%;
}
.pillList {
  display: flex;
  list-style: none;
  padding: 0;

  margin: .3em 0 .5em 0;
}
.pill {
  color: #dde8e4;
  font-size: 0.75em;
  font-family: forma-djr-micro, sans-serif;
  border: #dde8e4 1px solid;
  border-radius: 18px;
  padding: 0.15em 0.55em;
  margin-right: 0.25em;
  opacity: 0.9;
}
@media screen and (min-width: 48em) {
    .projectCard {
      display: flex;
    }
  }